<h2 class="landmark">Public Parks in Ozone Park</h2>

<div class="landmarkblock parkblock">
  <h3>Centreville Playground</h3>
  <img
    src="ozoneparkimages/parks1.jpg"
    alt="reservior"
    width="350px"
    class="parkimg"
  />
  <p>Top Review:"very clean"</p>
  <p>Phone: (212) 639-9675</p>
  <p>
    <b>Address:</b><br />Centreville St<br />
    Ozone Park<br />Robinson Pkwy <br />NY 11417
  </p>
</div>

<div class="landmarkblock parkblock">
  <h3>Vito Locascio Field</h3>
  <img
    src="ozoneparkimages/parks2.jpg"
    alt="hall"
    width="350px"
    class="parkimg"
  />
  <p>Top Review: "great place for food and atmosphere"</p>
  <p>Phone: (212) 639-9675</p>
  <p>
    <b>Address:</b><br />N Conduit Ave<br />
    Ozone Park<br />NY 11417
  </p>
</div>
<div class="landmarkblock parkblock">
  <h3>Ampere Playground</h3>
  <img
    src="ozoneparkimages/parks3.jpg"
    alt="expwy"
    width="350px"
    class="parkimg"
  />
  <p>Top Review: "nice clean environment to bring your kids and family"</p>
  <p>Phone: (212) 639-9675</p>
  <p><b>Address:</b><br />82nd St.<br />Ozone Park <br />NY 11416</p>
</div>
<div class="landmarkblock parkblock">
  <h3>Corporal Ruoff Square</h3>
  <img
    src="ozoneparkimages/park4.jpg"
    alt="hall"
    width="350px"
    class="parkimg"
  />
  <p>Top Review: N/A</p>
  <p>Phone: (212) 639-9675</p>
  <p>
    <b>Address:</b><br />94-11 Rockaway Blvd.<br />Ozone Park <br />NY 11417
  </p>
</div>
<div class="landmarkblock parkblock">
  <h3>Tudor Park</h3>
  <img
    src="ozoneparkimages/park5.jpg"
    alt="expwy"
    width="350px"
    class="parkimg"
  />
  <p>Top Review: "always clean, nice people"</p>
  <p>Phone: (212) 639-9675</p>
  <p><b>Address:</b><br />82nd St. & 133rd Ave<br />Ozone Park<br />NY 11417</p>
</div>
